@charset "uft-8";

html {
  scroll-behavior: smooth;
}

body {
  color: #4f270b;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #e9d9c0;
}

section:not(.access) {
  margin: 0 auto 144px;
}

.section-inner {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
}

h2 {
  color: #d20202;
  font-family: "Diplomata SC", serif;
  font-size: 40px;
  text-align: center;
  margin-bottom: 32px;
  font-weight: normal;
}

/* ここまで共通 */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-left: 4.4%;
  padding-right: 4.4%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__nav ul {
  display: flex;
  gap: 48px;
}

.header__nav ul a {
  color: #ffffff;
  font-family: "Alatsi", sans-serif;
}

.logo {
  width: 434px;
}

/* ここまでheader */

.slider {
  max-width: 126px;
  display: flex;
  gap: 48px;
  margin: 50px auto 72px;
}

.slider div {
  display: block;
  color: #c6c6c6;
  width: 10px;
  height: 10px;
}

.slider div:first-child {
  color: #363636;
}

/* ここまでslider */

.lead {
  padding: 0 10px;
}

.tagline {
  font-family: "Alatsi", sans-serif;
  font-size: 26px;
  text-align: center;
  margin: 0 auto 40px;
  letter-spacing: 0.05em;
}

.headline {
  font-size: 64px;
  text-align: center;
  margin-bottom: 16px;
  line-height: 1.5;
}

.text {
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}

/* ここまでlead */

.about-us__content {
  display: flex;
  gap: 40px;
}

.about-us__content img {
  width: 45%;
  height: auto;
  aspect-ratio: 1 / 1.09;
  object-fit: cover;
  border-radius: 0 0 64px 0;
}

.about-us__h2 {
  text-align: left;
  margin-bottom: 40px;
  font-weight: normal;
}

.about-us__topic {
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.about-us__text {
  font-size: 14px;
  line-height: 1.8;
}

/* ここまでabout-us */

.menu-list {
  display: flex;
  justify-content: space-between;
  gap: 3.2%;
}

.menu-item {
  width: 33%;
  height: auto;
}

.menu-item img {
  border-radius: 0 64px 0 0;
}

.menu-list h3 {
  color: #d20202;
  font-family: "Diplomata SC", serif;
  font-size: 26px;
  margin-top: -12px;
  margin-bottom: 6px;
  font-weight: normal;
}

.menu-list p {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: -0.03em;
}

/* ここまでmenu */

.gallery__content {
  display: flex;
}

.gallery__content img {
  width: 20%;
}

/* ここまでgallery */

.event__list {
  background-color: #fff;
  border: solid 1px #4f270b;
  padding: 32px 0;
  margin: 0 auto;
}

.event__item {
  display: flex;
  gap: 40px;
  max-width: 630px;
  margin: 0 auto 16px;
}

.event__item:last-child {
  margin-bottom: 0;
}

time,
.event__item p {
  font-size: 20px;
}

time {
  font-weight: 500;
}

/* ここまでevent */

iframe {
  width: 100%;
  height: 353px;
  filter: grayscale(100%) invert(92%) contrast(83%);
}

footer {
  background-color: #fff;
}

.footer-inner {
  max-width: 1020px;
  margin: 0 auto;
  padding: 80px 10px 60px;
}

.contact__content {
  display: flex;
  gap: 39px;
  margin-bottom: 80px;
}

.contact__content img {
  width: 380px;
  height: 34px;
}

.contact__content div {
  margin-top: -4px;
}

dl {
  display: flex;
  gap: 40px;
  margin-bottom: 16px;
}

dl:last-child {
  margin-bottom: 0;
}

dt {
  width: 4em; /* 固定幅 */
  flex-shrink: 0; /* 幅が縮まないように */
}

dt,
dd {
  font-size: 16px;
  line-height: 1.5;
}

.copy {
  font-size: 16px;
  line-height: 1.5;
}

.top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 140px;
}
